<div class="show">
  <h2>Order succesfully requested!</h2>
  <div class="updatebox">
    <p>Name: <%= @product.name %></p>
    <p>Description: <%= @product.description %></p>
    <p>Quantity: <%= @product.stock_quantity %></p>
    <p>Maximum Quantity: <%= @product.max_quantity %></p>
    <p>Minimum Quantity: <%= @product.min_quantity %></p>
    <p>Buying Cost: <%= @product.buying_cost %></p>
    <p>Selling Price: <%= @product.selling_price %></p>
    <p>Manufacturer: <%= @product.manufacturer %></p>
    <p>Category: <%= @product.category %></p>
  </div>

  <h5>Total Cost: <%=@product.total_buying_cost%></h5>
  <h5>Total Value: <%=@product.total_selling_value.round(2)%></h5>
</div>
