<div class="index1">
  <h2> STOCK LIST </h2>

  <div class="table1">
    <table id="product-list">
      <colgroup span="11"></colgroup>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Max/Min Quantity</th>
        <th>Cost per Unit</th>
        <th>Price per Unit</th>
        <th>Margin (%)</th>
        <th>Markup (%)</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th></th>
      </tr>
      <% for product in @products %>
      <tr>
        <td><%= product.name() %></td>
        <td><%= product.description() %></td>
        <td><%= product.stock_quantity() %> <br> <%= product.stock_levels%></td>
        <td><%= product.max_quantity() %> / <%= product.min_quantity() %></td>
        <td><%= product.buying_cost() %></td>
        <td><%= product.selling_price() %></td>
        <td><%= product.margin().round(2) %></td>
        <td><%= product.markup().round(2) %></td>
        <td><%= product.manufacturer() %></td>
        <td><%= product.category() %></td>
        <td>
            <form id="button1" action= "/inventory/<%=product.id%>/edit" method="get">
              <input type="submit" value="Edit">
            </form>
            <form id="button2" action="/inventory/<%=product.id%>/delete"  method="post">
              <input type="submit"  value="Delete">
            </form>
        </td>
      </tr>
      <% end %>
    </table>
    <div id="button"><a href="/inventory/new">Add</a></div>
  </div>
</div>
