<div class="show">
  <p>DETAILS</p>
  <div class="showbox">
    <p>Name: <%= @product.name %></p>
    <p>Description: <%= @product.description %></p>
    <p>Quantity: <%= @product.stock_quantity %></p>
    <div class="stock-qty">
      <p><%= @product.stock_levels%></p>
    </div>
    <p>Buying Cost: <%= @product.buying_cost %></p>
    <p>Selling Price: <%= @product.selling_price %></p>
    <p>Manufacturer: <%= @product.manufacturer %></p>
    <p>Category: <%= @product.category %></p>
  </div>
</div>



<div class="graphic">
  <div class="margin">
    <p>Margin: <%= @product.margin().round() %>%</p>
  </div>
  <div class="markup">
    <p>Markup: <%= @product.markup().round() %>%</p>
  </div>
</div>

<div class="button">

  <form id="button" action= "/inventory/<%=@product.id%>/edit" method="get">
    <input type="submit" value="EDIT">
  </form>


  <form action="/inventory/<%=@product.id%>/delete"  method="post">
    <input type="submit"  value="DELETE">
  </form>


</div>
