<div class="index2">
  <h2>MANUFACTURER LIST</h2>

  <div class="table1">
    <table id="manufacturer-list">
      <colgroup span="5"></colgroup>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Details</th>
      </tr>
      <% for manufacturer in @manufacturers %>
      <tr>
        <td><%= manufacturer.name()%></td>
        <td><address><%= manufacturer.country()%></address></td>
        <td><address><%= manufacturer.phone()%></address></td>
        <td><address><%= manufacturer.email()%></address></td>
        <td><a href="/manufacturers/<%=manufacturer.id%>">Show</a></td>
      </tr>
      <% end %>
    </table>
  </div>


  <div id="link">
    <a href="/manufacturers/new">Add</a>
  </div>
</div>
