<div class="index2">
  <h2>MANUFACTURER LIST</h2>
  <div class="details2">
    <address id="addressbox">
      <% for manufacturer in @manufacturers %>
        <h3><%= manufacturer.name()%></h3>
        Country: <%= manufacturer.country()%><br>
        Phone: <%= manufacturer.phone()%><br>
        Email: <%= manufacturer.email()%><br>
        <a href="/manufacturers/<%=manufacturer.id%>">Show More</a><br>
      <% end %>
    </address>
  </div>
  <div class="link">
    <a href="/manufacturers/new">Add</a>
  </div>
</div>
